<h1>All the businesses</h1>

<% @businesses.each do |business|%>
<li><%= link_to business.name, business_path(business) %>
  
    <div class="thumbnail">
        <img src="<%= business.img_url %>">
    </div>
    

</li>
<% end %>
