<h1>Welcome to the Covid Business Safety Website</h1>
<h3>You'll find Businesses in the NY metro area here</h3>

        <li><%= link_to "Login", new_login_path %></li>
        <li><%= link_to "Sign Up", new_user_path %></li>

        <li>Check Out businesses reviewed <%= link_to "Businesses", businesses_path %></li>

