// Place all the styles related to the Businesses controller here.
// They will automatically be included in application.css.
// You can use Sass (SCSS) here: https://sass-lang.com/



.thumbnail {
    overflow: hidden;
    height: 300px;
    width: 500px;
}

.thumbnail img {
   height: 100%;
}

.business-img img{
    // overflow: hidden;
    height: 300px;
    width: 500px;
}

.business-media {
    display: flex;
    flex-direction: row;
    justify-content: space-around;
}

.business-show {
    margin-left: 10%;
    margin-right: 10%;
}

.business-index {
    margin-left: 10%;
    margin-right: 10%;
    text-align: left;
}

.business-index li{
    display: flex;
    justify-content: space-around;
    align-content: space-around;
    text-align: left;
}

.center {
    text-align: center;
}
