// Place all the styles related to the Businesses controller here.
// They will automatically be included in application.css.
// You can use Sass (SCSS) here: https://sass-lang.com/



.thumbnail {
    overflow: hidden;
    height: 300px;
    width: 450px;
}

.thumbnail img {
   height: 100%;
}

.business-img img{
    // overflow: hidden;
    height: 300px;
    width: 400px;
}

